.btn {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 400;
    justify-content: center;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition:
        background-color 350ms ease-in-out,
        color 350ms ease-in-out,
        opacity 350ms ease-in-out;

    &.primary {
        background-color: var(--color-primary);
        color: var(--color-primary-content);

        &:hover {
            opacity: 0.8;
        }
    }

    &.secondary {
        background-color: var(--color-secondary);
        color: var(--color-secondary-content);

        &:hover {
            opacity: 0.8;
        }
    }

    &.circle {
        border-radius: 50%;
        height: 2rem;
        padding-inline: 0;
        width: 2rem;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}
