<section
    (cdkDropListDropped)="dropColumn($event)"
    [cdkDropListData]="columns()"
    cdkDropList
    cdkDropListOrientation="horizontal"
    cdkScrollable
    class="kanban"
>
    @for (column of columns(); track column.id; let i = $index) {
    <div cdkDrag class="card">
        <div cdkDragHandle class="header">
            <h2>{{ column.name }}</h2>
            <span>{{ column.tasks.length }}</span>
        </div>
        <ul
            (cdkDropListDropped)="drop($event)"
            [cdkDropListConnectedTo]="connectedLists()"
            [cdkDropListData]="column.tasks"
            [id]="'tasks-list-' + i"
            cdkDropList
            class="list"
        >
            @for (item of column.tasks; track item.id) {
            <li cdkDrag class="item">
                <button
                    (click)="openDetailModal(item)"
                    [attr.aria-label]="'Ouvrir les détails : ' + item.title"
                    class="item-button"
                    type="button"
                >
                    <div class="item-linear"></div>
                    <span class="item-title"> {{ item.title }} </span>
                </button>
            </li>
            } @empty {
            <div class="empty">
                <p>Aucune tâche</p>
                <button>Créer une tâche</button>
            </div>
            }
        </ul>
    </div>
    }
</section>

@if (isOpen()) {
<app-modal-kanban />
}
