.aside {
    background-color: var(--color-base-300);
    border-right: 1px solid color-mix(in oklab, var(--color-base-content) 10%, transparent);
    height: 100dvh;

    .content {
        align-items: center;
        border-bottom: 1px solid color-mix(in oklab, var(--color-base-content) 10%, transparent);
        display: flex;
        justify-content: center;
        padding: 1.5rem;

        h2 {
            font-size: 1.25rem;
        }
    }
}
