<aside class="aside">
    <div class="content">
        @if (isAsideOpen()) {
        <h2>Kanbano</h2>
        }
        <button (click)="onToggleAside()" appBtn>
            <lucide-icon [img]="isAsideOpen() ? ArrowLeft : ArrowRight" />
        </button>
    </div>
    <ul>
        @for (workspace of workspaces(); track workspace.id) {
        <li>
            @if (isAsideOpen()) {
            <button (click)="onSelectWorkspace(workspace.id)">{{ workspace.name }}</button>
            }
        </li>
        }
    </ul>
</aside>
