.cdk-drag-preview {
  opacity: 0.8;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}


.cdk-drag-placeholder {
  background: var(--color-base-100);
  border-radius: 0.5rem;
  min-height: 60px;
  opacity: 0.5;
}

.cdk-drag-animating {
  transition: transform 350ms ease-in-out;
}


.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 350ms ease-in-out;
}
