<dialog #modalDialog (close)="closeModal()" class="modal">
    <div class="content">
        @if (item(); as task) { @if (isEditMode()) {
        <app-task-edit (cancelEdit)="onCancelEdit()" (saveTask)="onSave($event)" [task]="task" />
        } @else {
        <app-task-view (edit)="onEdit()" [task]="task" />

        <footer class="modal-footer">
            <button (click)="closeModal()" appBtn type="button" variant="primary">Fermer</button>
        </footer>
        } }
    </div>
    <form class="backdrop" method="dialog">
        <button aria-label="Fermer la modale" type="submit">close</button>
    </form>
</dialog>
